@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

:root {
  --font: "Mulish", "Segoe UI", sans-serif;
  --background-color: #141e61;
  --primary-color: #0f044c;
  --secondary-color: #787a91;
  --font-color: #eeeeee;
}

body {
  background-color: var(--background-color);
  font-family: var(--font);
}

.result-window {
  background-color: var(--secondary-color);
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 10px;
}

#result {
  width: 400px;
  height: 32px;
}

#copy-button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: var(--background-color);
}

.main-window {
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--font-color);
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#options {
  width: 88%;
  /* border: 1px dashed red; */
  display: flex;
  flex-direction: column;
}

input {
  float: right;
}

#length {
  width: 40px;
}

#generate-button {
  font-family: var(--font);
  font-weight: bold;
  font-size: 1em;
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: none;
  border-radius: 5px;
  height: 32px;
  width: 200px;
  cursor: pointer;
}

#generate-button:hover {
  background-color: var(--font-color);
  color: var(--secondary-color);
}
